.formInput{
    display: flex;
    flex-direction: column; 
   
    width: 200px;
}
.logic{
    padding: 15px;
    margin: 10px 0px;
    background: white;
    border-radius: 10px;
    border: 1.5px solid #000;
}
label{
    font-size: 25px;
   
}
span{
    font-size:12px ;
    padding: 3px;
    color: red;
    display: none;
}
.logic:invalid [focused="true"]{
    border: 1px solid red;

}
.logic:invalid [focused="true"] span{
    display: block;
}